<!--Toolbar de navegação-->
<dx-toolbar [items]="toolbarContent"> 
</dx-toolbar>
<!--Drawer de navegação-->
<dx-drawer [openedStateMode]="'shrink'"
    [position]="'left'"
    [revealMode]="'slide'"
    template="template"
    [(opened)]="isDrawerOpen"
    [height]="400"
    [closeOnOutsideClick]="true">
    <div *dxTemplate="let data of 'template'" style="width: 200px">
        <dx-list class="panel-list dx-theme-accent-as-background-color"
            [dataSource]="navigation"
            [hoverStateEnabled]="true"
            [activeStateEnabled]="true"
            [focusStateEnabled]="false"
            routerLink="">
        </dx-list>
    </div>
</dx-drawer>

<!--Botão para fazer download do Data Grid em PDF-->
<dx-button id="exportButton"
    icon="exportpdf"
    text="Export to PDF"
    (onClick)="exportGrid($event)">
</dx-button>

<!--Data Grid das capitais-->
<dx-data-grid [showBorders]="true" dataSource="assets/Capitais.json">
    <!--Configura a ordenação-->
    <dxo-sorting mode="multiple"></dxo-sorting>
    <!--Configura quantos elementos aparecem por página-->
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager [visible]="true"
        [allowedPageSizes]="allowedPageSizes"
        [displayMode]="full"
        [showPageSizeSelector]="true" 
        [showInfo]="true" 
        [showNavigationButtons]="true"></dxo-pager>
    <!--Adiciona uma fila para filtrar os elementos-->
    <dxo-filter-row [visible]="true"
        [applyFilter]="auto"></dxo-filter-row>

    <!--Configura que tipo de dado cada coluna é composta-->
    <dxi-column dataField="Nome" caption="Capital">
    </dxi-column>

    <dxi-column dataField="UF" caption="Estado">
    </dxi-column>

    <dxi-column dataField="Temperatura">
    </dxi-column>

    <dxi-column dataField="Ciclo" caption="Dia/Noite">
    </dxi-column>

    <dxi-column dataField="Vento" caption="Velocidade do vento">
    </dxi-column>

</dx-data-grid>
