<h1 class="mt-4">Estados</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Buscar</li>
</ol>
<div class="container">
  <form #buscarInfoCidade="ngForm">
    <div class="row">
      <div class="col-md-3">
        <label for="inputEstado">UF: </label>
        <select id="inputEstado" class="form-select" (change)="onChange($event.target)">
          <option value="" selected disabled> Selecione...</option>
          <option *ngFor="let estado of allEstados" [value]="estado.id">
            {{ estado.sigla + " - " + estado.nome}}
          </option>
        </select>
      </div>
    </div>
    <br />
    <div class="row">
    </div>
  </form>
  <br />
  <div class="row">
    <div class="alert alert-warning" role="alert" *ngIf="mensagemError">
      {{ mensagemError }}
    </div>
    <div class=" col-md-12" *ngIf="mostrarInfo">
      <table class="table">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Sigla</th>
            <th>Região</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> {{estadoInfo.nome}} </td>
            <td> {{ estadoInfo.sigla}} </td>
            <td> {{ estadoInfo.regiao?.nome}} </td>
          </tr>
        </tbody>
      </table>
      <h2> Distritos </h2>
      <div class="container">
        <div class="row">
          <div class="col-sm-3" *ngFor="let distrito of allDistritos ">
            <p>{{ distrito.nome }}</p>
          </div>
        </div>
      </div>
      <h2> Mesorregiões </h2>
      <div class="alert alert-warning" role="alert" *ngIf="allMesorregioes.length <=0">
        {{ message }}
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-3" *ngFor="let messoregioes of allMesorregioes ">
            <p>{{ messoregioes.nome }}</p>
          </div>
        </div>
      </div>
      <h2> Microrregiões </h2>
      <div class="alert alert-warning" role="alert" *ngIf="allMicrorregioes.length <=0">
        {{ message }}
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-3" *ngFor="let microrregioes of allMicrorregioes ">
            <p>{{ microrregioes.nome }}</p>
          </div>
        </div>
      </div>
      <h2> Municípios </h2>
      <div class="alert alert-warning" role="alert" *ngIf="allMunicipios.length <=0">
        {{ message }}
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-3" *ngFor="let municipios of allMunicipios ">
            <p>{{ municipios.nome }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>