body{
    background-image: url('../src/assets/img/background.jpg');
}

.intro{
    margin-top: 15rem;
    margin-left: 15rem;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 30px;
    letter-spacing: -0.8px;
    word-spacing: 6px;
    color: #000000;
    font-weight: 700;
    text-decoration: underline rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: uppercase;
}